@model ArchiveSiteBackend.Api.Models.LoginModel
<!DOCTYPE html>

<html lang="en-US">
<head>
  <title>Login</title>
</head>
<body>
<a href="/api/auth/login-with-facebook?returnUrl=@Model.ReturnUrl">Login With Facebook</a>
</body>
</html>
