<div class="modal-header">
  <h4 class="modal-title">Create Project</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cancel')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-container *ngIf="step === CreateProjectModalStep.ProjectDetails">
    <app-project-details-form
      [(name)]="name"
      [(description)]="description"
      [disabled]="isSaving"
      (change)="onProjectDetailsFormChange()"
      #projectDetailsForm>
    </app-project-details-form>
  </ng-container>
  <ng-container *ngIf="step === CreateProjectModalStep.UploadRtpXml">
    <form>
      <h5>Import a Field List?</h5>
      <label>
        Select an RTP Xml File:
        <input type="file" accept="text/xml,.xml" (change)="onFileChange($event)" />
      </label>
      <small id="displayNameHelp" class="form-text text-muted">
        For more information about the RTP Xml file format see <a href="/assets/rtp-description.pdf" target="_blank">this guide.</a>
      </small>
    </form>
  </ng-container>
  <ng-container *ngIf="step === CreateProjectModalStep.EditFieldList">
    <app-field-list-editor
      [fields]="fields"
      [disabled]="isSaving">
    </app-field-list-editor>
  </ng-container>
  <ng-container *ngIf="step === CreateProjectModalStep.UploadProjectDocuments">
    <label>
      Document Image URLs <small>
      <a href="https://github.com/RayBB/GamingTheArchivesSampleData" target="_blank">example</a>
    </small>
      <textarea
        name="urls"
        [(ngModel)]="urls"
        class="form-control"
        placeholder="https://www.example.com/1.jpg&#10;https://www.example.com/2.jpg">
      </textarea>
    </label>
  </ng-container>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-secondary mr-2"
    (click)="back()"
    [disabled]="isSaving">
    {{backButtonText}}
  </button>
  <button type="button" class="btn btn-primary" (click)="next()" [disabled]="isSaving || !isReady">
    {{nextButtonText}}
  </button>
</div>
