<ng-container *ngIf="document$ | async as doc">
  <div class="container-flex">
    <div class="row">
      <div class="col-md-8">
        <div class="card text-center">
          <h4>Document ID: {{doc.Id}}</h4>
          <ul class="nav justify-content-center mb-2">
            <li class="nav-item">
              <button class="btn btn-outline-primary mr-4" (click)="showHideHighlights()">Show/Hide Highlights</button>
            </li>
            <li class="nav-item">
              <button class="btn btn-outline-primary" (click)="resetImagePosition()">
                Reset Image Position
              </button>
            </li>
          </ul>
          <div id="image-container"
               (mousedown)="onImageMouseDown($event)"
               (mousemove)="onImageMouseMove($event)"
               (mouseup)="onImageMouseUp()"
               (mousewheel)="onImageMouseWheel($event)"
               (dragover)="onImageDragOver($event)">

            <img id="document-image"
                 class="img-fluid"
                 crossorigin="anonymous"
                 [src]="documentImageUrl"
                 [hidden]="showRendered"
                 (load)="onImageLoaded($event)"
                 (drop)="onImageDrop($event)"
                 #documentImage/>
            <img [src]="image$ | async"
                 [hidden]="!showRendered"
                 (drop)="onImageDrop($event)"
                 #documentRender/>
          </div>
          <div id="document-marker" #documentMarker></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start" style="padding-top: 0;">
            <h3>
              <span class="text-dark">Transcription Fields</span>
            </h3>
            <ng-container *ngIf="!isLoading">
              <form *ngIf="fields$ | async as fields" style="padding-left: 1em;" (change)="formChanged()"
                    #transcribeForm="ngForm">
                <fieldset [disabled]="transcription && transcription.IsSubmitted">
                <div class="form-group row" *ngFor="let f of fields">
                  <label class="col-form-label" for="project-{{projectId}}-field-{{f.Index}}">
                    {{f.Name || ('Field ' + f.Id)}}
                  </label>
                  <div class="col-sm">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                            <img src="/assets/images/icon-target.svg" class="icon-target"
                                 draggable="true" (dragstart)="startAutoTranscribe($event, f)"/>
                        </span>
                      </div>
                      <input name="project-{{projectId}}-field-{{f.Index}}"
                             id="project-{{projectId}}-field-{{f.Index}}"
                             type="{{getHtmlInputType(f.Type)}}"
                             [(ngModel)]="data[f.Name]"
                             class="form-control"/>
                    </div>
                  </div>
                </div>
                </fieldset>
                <span class="form-inline">
                  <!-- will fix at a later time -->
                  <button type="button" class="btn btn-success mr-1" (click)="submit()"  [disabled]="transcription && transcription.IsSubmitted">Submit</button>
                  <button type="button" class="btn btn-danger mr-1">Help</button>
                  <button type="button" class="btn btn-outline-primary mr-1" (click)="goToPrevious()">Previous</button>
                  <button type="button" class="btn btn-outline-primary mr-1" (click)="goToNext()">Next</button>
                </span>
              </form>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
