<ng-container *ngIf="document$ | async as doc">
    <div class="container-flex">
        <div class="row">
            <div class="col-md-8">
                <div class="card text-center">
                    <h4>Document ID: {{doc.Id}}</h4>
                    <div id="image-container">
                        <img class="img-fluid" *ngIf="this.documentImageUrl" [src]="this.documentImageUrl" 
                        #documentImage id="document-image" (load)="onImageLoaded($event)"
                        (mousedown)="onImageMouseDown($event)" (mousemove)="onImageMouseMove($event)"
                        (mouseup)="onImageMouseUp()" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start" style="padding-top: 0;">
                        <h3>
                            <a class="text-dark" href="#">Transcription Fields</a>
                        </h3>
<!-- unsure whats suppsoed to go here // commenting out temporarily 
                        <tr *ngFor="let doc of documents">
                            <th scope="row">
                                <a [routerLink]="['/transcribe', doc.Id]">{{doc.Id}}</a>
                            </th>
                            <td>?</td>
                            <td>{{doc.Status}}</td>
                        </tr>
-->
                        <form style="padding-left: 1em;">
                            <div class="form-group row" *ngFor="let f of fields">
                                <label class="col-form-label" for="{{f.id}}">{{f.displayText}}</label>
                                <div class="col-sm">
                                    <input type="{{f.type}}" class="form-control" name="{{f.id}}" id="{{f.id}}">
                                </div>
                            </div>
                            <span class="form-inline">
                                <!-- will fix at a later time -->
                                <button type="button" class="btn btn-success mr-1" (click)="submit()">Submit</button>
                                <button type="button" class="btn btn-danger mr-1">Help</button>
                                <button type="button" class="btn btn-outline-primary mr-1" (click)="goToPrevious()">Previous</button>
                                <button type="button" class="btn btn-outline-primary mr-1" (click)="goToNext()">Next</button>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
