<ng-container *ngIf="document$ | async as doc">
    <div class="container-flex">
        <div class="row">
            <div class="col-md-8">
                <div class="card text-center">
                    <h4>Document id: {{doc.Id}}</h4>
                    <img class="img-fluid" src="{{doc.DocumentImageUrl}}" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Fields</a>
                        </h3>

                        <tr *ngFor="let doc of documents">
                            <th scope="row">
                                <a [routerLink]="['/transcribe', doc.Id]">{{doc.Id}}</a>
                            </th>
                            <td>?</td>
                            <td>{{doc.Status}}</td>
                        </tr>

                        <div class="form-group">
                            <span *ngFor="let f of fields" class="form-inline">
                                <label class="mr-1" for="exampleInputEmail1">{{f}}</label>
                                <input type="text" class="form-control" id="{{f}}">
                            </span>
                        </div>
                        <span class="form-inline">
                            <button type="button" class="btn btn-success mr-1">Submit</button>
                            <button type="button" class="btn btn-danger mr-1">Help</button>
                            <button type="button" class="btn btn-outline-primary mr-1">Previous</button>
                            <button type="button" class="btn btn-outline-primary mr-1">Next</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>