<div id="app-container" fxLayout="column">
  <header class="navbar" fxLayout="row">
    <a [routerLink]="['/projects']" class="navbar-brand">Gaming The Archives</a>
    <div fxFlex="1 0 auto"></div>
    <div *ngIf="user$ | async as user; else login" fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="0.5em">
      <a class="user-chip" [routerLink]="['profile']">
        <!-- <img [src]="user.PictureUrl" class="user-picture" width="48" height="48" alt="profile picture" *ngIf="user.PictureUrl" /> -->
        <span class="user-name">{{user.DisplayName}}</span>
      </a>
      <button class="btn btn-outline-primary" (click)="logout()">Logout</button>
    </div>
    <ng-template #login>
      <ng-container *ngIf="userFetched">
        <button (click)="gotoSignup()" class="btn btn-outline-secondary mr-2">Sign Up</button>
        <button (click)="gotoLogin()" class="btn btn-primary">Log in</button>
      </ng-container>
    </ng-template>
  </header>
  <section class="main-content" fxFlex="1 0 auto">
    <router-outlet></router-outlet>
  </section>
  <footer>
    &copy; 2020 Gaming the Archives Team. Released under the
    <a href="https://raw.githubusercontent.com/HACC2020/GamingTheArchives/master/LICENSE">MIT License</a>.
     | <a href="assets/PrivacyPolicy.html" target="_blank">Privacy Policy</a>
  </footer>
  <app-notifications></app-notifications>
</div>
